=article($mobile-landscape, $mobile-portrait)
  $multiplier: if($mobile-portrait, $mobile-blog-font-multiplier, 1)
  .right
    float: right
    margin: 0 0 30px*$multiplier 50px*$multiplier
  .left
    float: left
    margin: 0 0 0 0
  
  .article
    width: 100%
    margin-bottom: 65px * $multiplier
    font-size: 21px * $multiplier
    font-weight: 200
    line-height: 38px * $multiplier

    img
      margin-bottom: 30px * $multiplier

      &.full-width
        width: 100%
        height: auto

      &.right, &.left 
        max-width: 100%

        @if $mobile-landscape or $mobile-portrait
          clear: both
          width: 100%
          height: auto

  
    a, a:visited
      color: $green
      text-decoration: none 
      font-weight: bold
    
    h2
      font-family: "Quicksand"
      font-size: 28px * if($mobile-portrait, $multiplier * .9, $multiplier)
      // border: 2px solid $medium-gray
      margin: 60px*$multiplier 0 30px*$multiplier
      background: $very-light-gray
      color: darken($very-light-gray, 50%)
      padding: 20px * $multiplier
      background: $dark-blue
      color: white
      font-weight: 600
  
      // &::after
      //   content: "⥤"
      //   font-size: 30px
      //   margin-left: 10px
      //   font-weight: 600
      //   position: relative 
      //   top: 4px
  
      &.split
        padding: 0
        background: $very-light-gray
        color: darken($very-light-gray, 50%)
        font-weight: 600
        font-size:  28px * if($mobile-portrait, $multiplier * .75, $multiplier)
  
      span.left-em
        background: $dark-blue
        color: white //lighten($dark-blue, 40%)
        display: inline-block
        text-transform: uppercase
        margin: 0
        padding: 20px * $multiplier
        margin-right: 10px * $multiplier
        font-weight: 200

      @if $mobile-portrait or $mobile-landscape 
        span 
          +box-sizing(border-box)
        span.left-em
          display: block
          width: 100%
        span.split-right
          display: block 
          padding: 15px
          width: 100%

    h3
      color: $dark-blue
      font-size: 25px * $multiplier
      font-weight: 800
      margin: 30px*$multiplier 0 15px*$multiplier 0
      &::before
        content: "✣"
        font-size: 28px * $multiplier
        margin: 0 10px*$multiplier 0 5px*$multiplier
  
    blockquote
      +clearfix
      background: $very-light-gray
      color: darken($very-light-gray, 70%)
      box-sizing: border-box
      margin: 35px*$multiplier 0
      padding: 15px*$multiplier 30px*$multiplier
      position: relative
      display: -webkit-box
      -webkit-box-pack: center
      -webkit-box-align: center
      display: box
      box-pack: center
      box-align: center
  
      p
        position: relative 
        z-index: 2
        text-shadow: 1px 1px darken($very-light-gray, 3%)
        width: 75% 
        padding: 5px if($mobile-portrait or $mobile-landscape, 55px, 30px) 
        text-align: if($mobile-portrait or $mobile-landscape, center, left)
  
      &::before, &::after
        font-size: 150px * $multiplier
        position: absolute
        color: darken($very-light-gray, 5%)
  
      &::before
        content: "❝"
        left: 18px
        top: 58px * $multiplier
  
      &::after
        content: "❞"
        right: 16px
        bottom: 15px

      @if $mobile-portrait or $mobile-landscape
        p 

        &::before, &::after
          font-size: 80px

        
+article(false, false)

@media (max-width : 800px)
  +article(true, false)

@media (max-width : 480px)
  +article(false,true)
 
  
  
