#standalone
  margin-top: 3.5%

section.ebook
  +clearfix
  background: rgba(white, 0.9)
  +border-bottom-radius(6px)
  padding-bottom: 2%

  .left-col
    float: left
    width: 44%
    padding-left: 7%
    padding-right: 0
    box-sizing: border-box
    position: relative
    left: 4.5%

  .right-col
    float: right
    width: 56%
    text-align: center
    box-sizing: border-box
    position: relative
    top: 0.5rem

  p, li
    font-size: 2.2rem
    line-height: 170%
    text-align: left

  em.ebook
    color: $blue
    text-transform: uppercase
    font-weight: bold
    font-style: normal

  ul li
    margin-bottom: 5%

    &:last-of-type
      margin-bottom: 0


  p.final
    font-weight: bold
    color: $green
    font-size: 2.8rem
    em
      text-transform: uppercase
      font-style: normal
      font-weight: bold

  img.cover
    width: 59%
    margin-top: 3em

  form.ebook
    text-align: center
    width: 100%
    margin-top: 3.75%
    input[type=email]
      font-size: 1.6rem
      border: 1px solid rgba($dark-gray, 0.4)
      padding: 1.7% 2.8%
      width: 59%
      font-family: $heading-font
      outline-color: $blue
      box-sizing: border-box

    input[type=submit]
      width: 59%
      font-size: 2.2rem
      background: $blue
      border: none
      text-transform: uppercase
      color: white
      padding: 2.5% 0
      font-family: $heading-font
      margin-top: 3.75%
      outline-color: $blue
      +border-radius(6px)
      box-sizing: border-box

  @media (max-width : 800px)
    padding-bottom: 7%

    h2
      margin-bottom: 0

    p
      text-align: center

    ul
      width: 85%
      margin: 3% auto
      padding: 0

    p, li
      font-size: 2.8rem

      br
        display: none

    p.final
      font-size: 3.8rem

    img.cover, form.ebook input[type=email], form.ebook input[type=submit]
      width: 75%

    form.ebook input[type=email]
      font-size: 2.5rem

    form.ebook input[type=submit]
      font-size: 2.8rem



  @media (max-width : 620px)

    p, li, form.ebook input[type=submit]
      font-size: 3.2rem

    p.final
      font-size: 4.5rem

    form.ebook input[type=email]
      font-size: 2.9rem

  @media (max-width : 520px)
    p, li, form.ebook input[type=submit]
      font-size: 3.5rem

    p.final
      font-size: 4.8rem

    form.ebook input[type=email]
      font-size: 3.2rem

  @media (max-width : 450px)
    p, li, form.ebook input[type=submit]
      font-size: 3.8rem

    p.final
      font-size: 5.1rem

    form.ebook input[type=email]
      font-size: 3.3rem

  @media (max-width : 420px)
    p, li, form.ebook input[type=submit]
      font-size: 4rem

    p.final
      font-size: 5.3rem

    form.ebook input[type=email]
      font-size: 3.5rem

#funnel-modal .ebook
  margin-top: 0

  form.ebook
    input
      width: 60%
      display: block
      margin: 20px auto 0

  input[type=email]
    font-size: 16px

  input[type=submit]
    font-size: 20px

  img.cover
    width: 43%
    margin-top: 20px

  h2
    font-size: 30px
    text-align: center
    font-family: Quicksand
    background-color: #1F4068
    color: white
    padding: 35px 0
    margin-bottom: 12px
    margin-top: 0

    strong
      color: #ffc152

  p, li
    font-size: 20px

  .left-col
    left: 1.5%

  @media (max-width : 900px)
    h2
      line-height: 150%
      padding: 35px




