.mobile-header
  +clearfix
  +box-sizing(border-box)
  background: $lightest-gray
  width: 100%
  padding: 25px
  padding-bottom: 0
  
  .logo, .site-nav, .site-nav ul
    display: inline-block 

  .logo
    float: left

    img 
      width: 290px

  .site-nav 
    float: right
    a
      font-size: 20px
      margin-left: 5px

      &:first-of-type
        margin-left: 0

  .logo, .site-nav 
    position: relative 
    top: 5px
