nav.site-nav li
  display: inline
  margin: 5px
  position: relative
  top: -17px

  a
    font-size: 18px
    color: $dark-yellowish-gray
    text-decoration: none
    display: inline-block
    padding: 12px
    border-bottom: 1px solid white
    +single-transition(border, 125ms, ease-out)

    &:visited
      color: $dark-yellowish-gray
      text-decoration: none

  &:hover a
    border-bottom: 1px solid $dark-blue

@media (max-device-width : 800px)
  .landing-layout
    nav
      right: 100px 
    nav.site-nav li 
      top: -13px
      a
        padding: 40px 22px
        font-size: 34px
    header .logo img
      width: 500px
      margin: 20px 0