
.subscribe
  input.email
    padding: 19px
    color: black
    font-family: "Merriweather"
    +border-radius(7px)

  .outline-button
    font-family: "Merriweather Sans", sans-serif
    background: white
    padding: 19px 30px

