section.testimonials
  padding: 7% 0

.testimonial
  +clearfix
  margin: 0 auto
  max-width: 900px
  text-align: left
  margin-bottom: 6%
  border-bottom: 1px solid $light-medium-gray
  padding-bottom: 4%

  &.last
    margin-bottom: -2%
    padding-bottom: 0
    border: none

  img
    float: left
    margin-right: 6%
    margin-bottom: 2%
    border: 1px solid rgba(black, 0.1)
    // +box-shadow(0px 0px 1px rgba(black, 0.6))
    width: 200px
    height: auto

    @media (max-width : 800px)
      width: 23.5%

    @media (max-width : 620px)
      width: 25%

  .text
    float: right
    font-size: 2.2rem
    line-height: 175%
    margin: 0
    width: calc(93% - 202px)

    @media (max-width : 800px)
      font-size: 2.7rem
      width: calc(68% - 2px)

    @media (max-width : 620px)
      font-size: 3.4rem
  a
    text-decoration: none

  .row
    margin-top: 2%
    span.name
      color: $blue
      font-family: Quicksand, sans-serif
      font-size: 2rem
      font-weight: bold
      margin-right: 2%

      @media (max-width : 800px)
        font-size: 2.4rem

      @media (max-width : 620px)
        font-size: 3.1rem

    span.title
      color: lighten($dark-gray, 30%)
      font-family: Quicksand, sans-serif
      font-size: 1.8rem
      @media (max-width : 800px)
        font-size: 2.4rem

      @media (max-width : 620px)
        font-size: 2.9rem

      span.company
        color: $green
        font-weight: bold


