.content-homepage-container
  width: 950px

  .clear
    clear: both

  a
    text-decoration: none

  .hero-image
    background-image: image-url('content-homepage/temp-hero.png')
    background-size: 100%
    text-align: center
    padding: 2.5em 0
    width: 100%

    h1
      background-color: #5789C4
      text-transform: uppercase
      width: 30%
      margin: 0 auto
      padding: 0.25em 0
      color: white
      font-family: "Quicksand"
      font-size: 1.75rem

    h2
      color: white
      text-transform: uppercase
      font-size: 1rem
      letter-spacing: 0.5rem
      font-weight: 200
      font-family: "Quicksand"

      span
        color: #946612
        font-weight: bold

    p
      color: white
      font-family: "Merriweather"
      font-size: 0.91rem
      font-weight: 200
      width: 540px
      margin: 0 auto

  .logos
    width: 100%
    padding: 2em 4em

    img
      margin-right: 25px

    .fp
      width: 84px
    .bv
      width: 136px
    .seamly
      width: 131px
    .webster
      width: 108px
    .reserbus
      width: 158px
    .genie
      width: 90px

  .headers
    font-family: "Quicksand"
    text-transform: uppercase

    h1
      font-weight: 200
      font-size: 1.75rem
      text-align: center

    .resources
      background-color: #598AC5
      color: white
      width: 66%
      float: left

    .services
      color: #1E3F6A
      width: 34%
      background-color: #FBCB6B
      float: left

  .resources-content
    padding: 5.5em 1em

    .email-course
      background-image: image-url('content-homepage/email-course.jpg')
      width: 595px

      h2
        font-family: "Quicksand"
        text-transform: uppercase

      h2.capture
        background-color: #E9F1F1
        color: #799046
        float: right
        width: 408px
        clear: both
        font-size: 1.25rem
        padding: 0.2em 1em
        margin: 0.6em 0 0

      h2.how-to
        color: white
        background-color: #5482B6
        width: 520px
        padding: 0.3em 0.6em
        font-size: 1.45rem
        margin-bottom: 0

      .bottom
        .dane-thumb
          float: left
        p
          float: left
          color: white
          margin-left: 1em
          font-size: 1rem

          span
            font-weight: bold

        .cta
          float: right
          background-color: #DEBA69
          color: #6F582C
          font-size: 0.9rem
          font-weight: bold
          padding: 0.25em 0.75em 0.25em 1.5em
          margin-top: 1.1em

          img
            margin: 0 0.2em 0 1.5em



























