// *** Google Fonts ***
@import "//fonts.googleapis.com/css?family=Merriweather:regular,bold,italic|Merriweather+Sans:regular|Quicksand:regular,bold"

// *** Responsive Functions ***
=bg-responsive($bg-fill-start, $section-height)
  .section-block
    height: $section-height
    margin: 0

  .section-bg
    @extend .section-block

    &.bg1
      margin-top: $bg-fill-start

=primary-img-responsive($width, $top, $pos, $pos-left)
  .index-page #landing-content section.primary-info
    img
      top:  $top
      width:  $width
      @if $pos-left 
        left: $pos 
        right: auto
      @else
        right: $pos
        left: auto

=section-responsive($multiplier)
  section.primary-info
    padding: 20px * $multiplier 40px

    p
      font-size:  48px * $multiplier
      line-height:  83px * $multiplier

  .secondary-text
    font-size:  34px * $multiplier
    line-height:  61px * $multiplier

  section.secondary-info
    &.left-img
      padding: 20px * $multiplier
      img
        margin-top:  110px * $multiplier
        margin-left: 30px * $multiplier
        margin-right: 40px * $multiplier
      p
        width:  670px * $multiplier
        margin-top:  135px * $multiplier
        margin-right: 15px * $multiplier

    &.right-img
      padding: 20px * $multiplier

      img
        margin-top: 85px * $multiplier
        margin-right: 40px * $multiplier

      p
        width:  585px * $multiplier
        margin:  115px * $multiplier 0 0 40px * $multiplier

  section.contact-cta
    padding: 40px * $multiplier

    p
      margin-top: 40px * $multiplier
      margin-bottom: 80px * $multiplier

      margin: 40px * $multiplier auto 80px * $multiplier

  section.subscribe-cta
    margin: -60px * $multiplier 0 0 150px * $multiplier
    p
      max-width:  900px * $multiplier

    form
      margin-top: 55px * $multiplier
      margin-bottom: 50px * $multiplier

      input.email
        margin-right: 40px * $multiplier
        padding: 19px * $multiplier
        width: 535px * $multiplier
        font-size: 30px * $multiplier

      .outline-button
        font-size: 30px * $multiplier


//*** Base styles ***
.section-bg
  &.bg1
    background: $blue
  &.bg2
    background: $gray
  &.bg3
    background: $yellow
    +box-shadow(#FFD892 0px 0px 0px 20px inset)

.index-page header nav
  right: 150px

#landing-content
  position: relative

  header
    border-bottom: 1px solid $light-border-gray
    width:  1120px

.index-page #landing-content
  header
    width:  1014px

  section.primary-info
    p
      font-family: "Quicksand"
    strong
      font-weight: 700

    img
      position: absolute
      

  section.secondary-info
    @extend .section-block
    @extend .secondary-text

    &.left-img
      color: white
      img
        opacity: 0.9

      p
        float: right

    &.right-img
      +clearfix
      color: darken($gray, 65%)
      img
        float: right
      p
        float: left

  section.contact-cta
    @extend .secondary-info
    color: darken($yellow, 50%)
    text-align: center

    a
      text-decoration: none

    p
      max-width:  1000px

    .outline-button
      background: white
      font-family: "Merriweather Sans"

      &:hover
        background-color: rgba(#fff, .9)

  section.subscribe-cta
    @extend .secondary-text
    color: $green
    form .outline-button
      &:hover
        background: rgba($green, .05)


// *** Desktop-specific styles ***
+bg-responsive(720px, 600px)
+section-responsive(1.0)
+primary-img-responsive(550px, 50px, 650px, true)

// *** Media-query styles ***
@media (max-width : 800px)
  html.js body.index-page 
    visibility: hidden

  body.index-page #landing-content 
    header 
      width: auto
  
    section

      &.secondary-info
        padding: 0
        &.left-img 
          margin-top: 5%
          > img 
            width: 28%
            margin-top: 9%
            margin-left: 5%
            margin-right: 5%

          > p 
            width: 56%
            margin-top: 11%
            margin-right: 5%

        &.right-img 
          > img 
            width: 30%
            margin-top: 12%
            margin-left: 1%
            margin-right: 6%

          > p 
            width: 55%
            margin-top: 14%
            margin-right: 2%
            margin-left: 5%
      
      &.contact-cta
        > p 
          width: 80%
          margin-top: 10%

      &.subscribe-cta
        margin: 0
        text-align: center
        > p 
          width: 80%
          text-align: left
          margin: auto

          &:first-of-type
            margin-bottom: 4%

        input.email 
          width: 45%
          margin-right: 4%

        .outline-button 
          padding: 2% 3%
          border-width: 3px
          border-radius: 12px


  +bg-responsive(600px, 420px)
  +section-responsive(0.7)
  +primary-img-responsive(40%, 180px, 20px, false)
  

@media (max-width : 601px)
  body.index-page #landing-content
    section.subscribe-cta 
      input.email 
        border-width: 2px
        border-radius: 9px

