.roadmapping
  section.roadmapping-hero
    width: 1007px
    position: relative

    img
      width: 100%

    @media (max-width : 800px)
      width: 100%

    .hero-content
      position: absolute
      bottom: 10%
      width: 100%
      text-align: center

      @media (max-width : 500px)
        bottom: 6%

      h1
        color: white
        font-size: 800%
        font-family: Quicksand
        margin-bottom: 4%

        @media (max-width : 500px)
          font-size: 20px

      h3
        color: white
        font-size: 450%
        font-weight: 200

        @media (max-width : 500px)
          font-size: 12px

  section.book-session
    padding: 30px 60px
    text-align: left
    margin-top: 15px

    @media (max-width : 800px)
      padding: 30px
    @media (max-width : 650px)
      text-align: center

    h1
      font-size: 400%
      color: $green
      font-family: Quicksand
      float: left
      margin-right: 40px

      @media (max-width : 650px)
        float: none
        margin-right: 0
        font-size: 20px
        line-height: 28px

    .cta
      background-color: #1D3F69
      width: 14%
      padding: 1.5rem 3%
      +border-radius(13px)
      cursor: pointer
      @media (max-width : 800px)
        width: 15%
      @media (max-width : 650px)
        width: 120px
        margin: 20px auto

      p.cta-copy
        color: white
        font-family: Quicksand
        font-size: 1.5rem
        font-weight: bold
        margin: 0
        @media (max-width : 500px)
          font-size: 13px

        span.arrow
          color: #FFCB6B
          font-size: 1.6rem
          margin-left: 4%
          position: relative
          top: 2px
          @media (max-width : 500px)
            font-size: 13px

  section.book-session.bottom
    text-align: center
    width: 80%
    margin-top: 30px

    .cta
      width: 270px
      padding: 2rem 3%
      margin: 0 auto

      p.cta-copy
        font-size: 2.5rem 

        @media (max-width : 800px)
          font-size: 15px

        span.arrow
          font-size: 2.5rem

          @media (max-width : 800px)
            font-size: 15px

  section.details
    .unbolded
      font-weight: 200

    h2
      width: 1007px
      padding: 1% 0
      
      @media (max-width : 800px)
        width: 100%
        font-size: 28px


    h3
      line-height: 27px


    .list-container
      text-align: left
      margin: 0px auto

      ul
        list-style-type: square

        li
          font-size: 18px
          line-height: 35px
          color: $blue

          p
            color: $blue

      h3
        font-size: 18px

      p
        font-size: 13px
        line-height: 20px

    .list-container.ordered
      width: 555px

      @media (max-width : 800px)
        width: 80%

    .list-container.unordered
      width: 600px

      @media (max-width : 800px)
        width: 80%

    .goal-container
      border: 1px solid black
      margin: 30px 0 45px
      width: 90%

      @media (max-width : 800px)
        padding: 0 10px

      p
        font-size: 14px
        text-align: center
        font-family: Quicksand
      
      b
        font-size: 22px