$team-body-font: 25px
$team-body-line-height: 40px
$team-name-bar-font: 29px
$team-name-bar-email-font: 18px

#team-content
  margin-top: 40px

section.team
  width: 1120px
  margin-left: 40px
  background: $very-light-gray
  color: darken($very-light-gray, 75%)
  margin-top: 40px
  margin-bottom: 60px

  .name-bar
    padding: 20px
    font-family: "Quicksand"
    color: white

    .name
      font-weight: bold
      font-size: 29px

    .email
      float: right
      font-size: 18px
      position: relative
      top: 2px

  > img
    width: 100%

  .body
    padding: 10px 40px
    font-size: $team-body-font
    line-height: $team-body-line-height

    a, a:visited, a:hover
      text-decoration: none
      color: darken($very-light-gray, 75%)
      font-weight: bold

  &#dane .name-bar
    background: $dark-blue

  &#lennon .name-bar
    background: $dark-yellow

@media (max-width : 800px)
  section.team
    width: auto
    min-width: 400px
    margin-right: 40px
    .body
      font-size: $mobile-font-multiplier * $team-body-font
      line-height: $mobile-font-multiplier * $team-body-line-height
    .name-bar
      padding: 17px 42px 52px 36px
      .name
        font-size: $mobile-font-multiplier * $team-name-bar-font
      .email
        font-size: $mobile-font-multiplier * $team-name-bar-email-font + 5px