
$blue: #3C76BB
$dark-blue: #4E73A0
$yellow: #FFC152
$dark-yellow: #DEB368
$green: #678029
$gray: #F6F6F6
$medium-gray: #A9A9A9
$dark-gray: #3F3F3F
$dark-yellowish-gray: #484847
$light-border-gray: #CCCCCC
$very-light-gray: #F5F5F5
$lightest-gray: #FAFAFA


