$mobile-font-multiplier: 0.9
$mobile-landscape-blog-font-multiplier: 0.9
$mobile-blog-font-multiplier: 0.9

$body-font: "Merriweather", Georgia, serif
$heading-font: "Quicksand", Tahoma, sans-serif
$cta-font: "Merriweather Sans", Tahoma, sans-serif

body
  font-family: $body-font
  font-size: 17px
  line-height: 185%

  strong
    font-weight: bold

  nav
    font-family: $heading-font
    font-size: 18px


  input[type=text],input[type=email]
    font-family: $body-font

  input[type=submit]
    font-family: $cta-font


.blue
  color: $blue

.green
  color: $green

.yellow
  color: $yellow

input
  outline-color: $green


=placeholder
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content

.responsive-text
  $base-width: 1200px

  font-size: 62.5%

  @each $bp in $responsive-breakpoints
    @media (max-width : $bp)
      $width-percentage: ($bp - $responsive-min-width) / ($base-width - $responsive-min-width)
      $responsive-font-size: 62.5% * $width-percentage
      @debug $responsive-font-size
      font-size: $responsive-font-size
