form.subscribe action="http://smoothconversion.createsend.com/t/d/s/xhyjr/"
  input.email placeholder="Your email" name="cm-xhyjr-xhyjr" type="email" required="required"
  input.outline-button type="submit" value=(locals[:subscribe_button] || "Get Free Tips")
