---
title: Smooth Conversion - Free Ebook Download Thank You
page: funnel
seo_meta_description: Thank You!
---

- content_for :page_class, " free-ebook-thank-you"

.funnel-thank-you.thank-you
  h1 Thank You!

  h2 Check your email in the next few minutes for your free ebook download link.

- content_for :post_content do
  = image_tag "/img/city-sketch.jpg", :class => "footer"

= partial "ebook_fb_tracking_pixel"