---
title: Smooth Conversion - Web Funnel Audit
page: funnel
layout: service
---

<% content_for :page_class, " landing-layout" %>

# Web Funnel Audit: Capitalize On The Work You’ve Already Done
<!-- Insert Snappy Tagline -->

<div class="header-divider"></div>
<div class="separator"></div>

You’ve spent countless hours crafting your online presence.  You’ve built web pages, active social media accounts, a popular blog, perhaps an email list or ten.  Now you’re finally getting some results from all that work.  It’s time to move on and focus on other things right?

Consider this:

**Not taking the time to maximize the results you're getting from your current traffic is like running a marathon and then not crossing the finish line.**

If you haven't fully explored this strategy, it’s extremely likely there is a handful of low-hanging fruit that can be captured.  For many websites doubling or tripling current revenue is achievable.

By identifying just three places where users were unnecessarily dropping out from their checkout flow, we found **over a million dollars a year** that a prominent online magazine was missing out on.  That difference represented **an 80% increase** in their online revenue.  

**If you generate significant revenue from your website, you're likely leaving money on the table every day.**

### GETTING EXPERT ANALYSIS

So how do you start capturing the money that is leaking away? You could start reading up on web design, user experience analysis, copywriting, analytics, statistics, funnel optimization techniques, email best practices, and user interface design.  But how are you going to fit all that in with everything else you have to do?

We're looking for successful business owners who want to see what's slipping through their fingers every day.  We'll do industry research, collect data, audit your analytics, and find the major holes in your website, layed out for you in a detailed report.

### WHO IS THIS FOR?

This package is for you if:

* You’re an **e-commerce** business, **subscription** service, **non-profit**, **consultant**, or **freelancer** who knows that their **website** is key to accomplishing their business goals.

* You have an **existing website** that currently generates some amount of revenue or client leads each month.

* You have a **desire to grow and expand** your current business.

* You’re **capable and willing to invest** in achieving that growth.

* You have a **willingness to experiment** and make potentially large changes to your web presence.

### WHAT YOU GET

Our Funnel Optimization package includes:

* **A full analytics audit.**  First we need to know how people engage with your site.  We'll set up analytics tools or audit and improve what you're already using.

* **Industry standard benchmark research.**  We'll find out what numbers your competitors are achieving.  If they can reach those numbers, you can too.

* **A complete funnel leak report.**  Based on your new and improved analytics data, industry research, and our years of experience working with web businesses, we’ll identify where you’re leaving money on the table as well as show you the lowest hanging fruit for improvement.

* **Funnel analysis diagram.**  We'll make a custom chart of the key steps in your funnel.  You can hang it on the wall as a reminder of the importance of watching over your funnel.

* **Funnel analysis spreadsheet.** You’ll get a custom spreadsheet whose numbers can be edited to show what specific improvements in your funnel will do for your bottom line.  

### WHO ARE WE?

Smooth Conversion is made up of Dane Schneider and Lennon Rubin.  For the past eight years we’ve been working together delivering business wins for companies through web development, software engineering, web design, copywriting, SEO, user experience design, analytics and funnel optimization.  

We’ve worked on projects in a wide variety of industries including med tech, travel, non-profit, legal, media, event production, entertainment and real estate.

To find out more about us visit <%= link_to "our team page", "/team", :target => "_blank" %>.

> Dane and Lennon's methodology measuring actual user intervention enabled us to identify over $1 million in lost sales. The client is using the findings to improve user experience and capture the money they were leaving behind.  -- Arnon Mishkin, Mishkin Associates

<div class="divider"></div>
<div class="begin-separator"></div>

### HOW DO I BEGIN?

We only want to work with businesses who we can deliver a large return on investment for.  So the first step is a free 30 minute call with us to discuss your website and business.  Even if we don’t think you’re a good fit for our “Funnel Optimization Audit,” we’ll still give you some free advice on your website.

<div class="spacer"></div>

<div class="separator"></div>

<%= partial "funnel_audit_form" %>

<% content_for :post_content do %>
  <%= image_tag "/img/city-sketch.jpg", :class => "footer" %>
<% end %>