.form-container
  form.funnel-course action="http://smoothconversion.createsend.com/t/d/s/thlldk/" method="post"
    input id="fieldEmail" name="cm-thlldk-thlldk" type="email" placeholder="Your email" required="true"
    input type="submit" value=(locals[:submit_lbl] || "Understand Your Funnel")
