---
title: Smooth Conversion - User Experience Report Card Thank You
page: funnel
seo_meta_description: Thank You For Purchasing The Smooth Conversion User Experience Report Card!
---

- content_for :page_class, " free-ebook-thank-you"

.funnel-thank-you.thank-you
  h1 Thank You!

  h2 We'll be in touch soon with your User Experience Report Card.

- content_for :post_content do
  = image_tag "/img/city-sketch.jpg", :class => "footer"